.sort {
  padding: 10px 45px;
  background-color: aliceblue;
  width: fit-content;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgb(143, 117, 208);
  }
}

.ul {
  list-style: none;
  position: absolute;
  margin-top: 5px;
  z-index: 996;
}
.li {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
  padding: 5px;
  &:hover {
    background-color: rgb(143, 117, 208);
    border-left-color: white;
    border-width: 3px;
  }
  @media screen and (min-width: 1200px) {
    width: 280px;
  }
}

// .sort:hover > .ul {
//   display: initial;
// }
