@charset "UTF-8";
.presentation {
  background: url('../../img/for_me – копія.png') no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
  margin: 30px 0;
  &::after {
    content: 'Кращі товари для Ваc';
    position: absolute;
    color: #fff;
    top: 20px;
    left: 20px;
    width: 300px;
    font-size: 20px;
    font-weight: 400;
  }
  @media screen and (min-width: 1200px) {
    &::after {
      top: 100px;
      left: 50px;
      width: 300px;
      font-size: 40px;
      font-weight: 600;
    }
  }
}
@media screen and (min-width: 1200px) {
  .presentation {
    background: url('../../img/for_me.png') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
  }
}

.title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 35px;
  }
}

img {
  width: 100%;
  max-height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  transition: transform 500ms ease;
}

h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

p {
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.add_to_cart {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1em;
  transition: transform 500ms ease;
}
