header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

a {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacit 500ms ease;
  text-decoration: none;
}
.active {
  color: rgb(72, 0, 255);
  border-radius: 5px;
  opacity: 0.7;
}
a:hover {
  opacity: 0.7;
}

header .shop_cart_button {
  font-size: 20px;

  cursor: pointer;
  transition: color, transform 500ms ease;
}
header .shop_cart_button:hover,
header .shop_cart_button.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

header .shop_cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;

  background: #fafafa;
  -webkit-box-shadow: 6px 1px 26px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 1px 26px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 1px 26px -5px rgba(0, 0, 0, 0.75);
  z-index: 40;
  padding: 20px;
  padding-bottom: 0;
}
header .shop_cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop_cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.logo {
  font-size: 60px;
  padding-left: 50px;
}
.logo_title {
  font-style: italic;
  font-size: 25px;
  color: rgb(0, 208, 255);
}
b {
  color: rgb(73 73 210);
}
@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}

.logo_title {
  animation: colorChange 5s infinite;
}
