.full_item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
  text-align: center;
}

.swiper ~ .full_item {
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(221, 27, 27, 0.8);
  z-index: 9999;
  overflow: auto;
  text-align: center;
}

.full_item img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}
.full_item b {
  color: #5fa;
}

.full_item p {
  margin-bottom: 20px;
}
.add_to_cart {
  display: block;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1em;
  transition: transform 500ms ease;
  width: 100%;
}
.add_to_cart:hover {
  transform: scale(1.05) translate(-5px);
}
.full_item > div {
  width: 700px;
  max-height: 800px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}
